<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/layout.html}">

<head>
    <title>Sign in</title>
</head>

<body>
<section layout:fragment="content">
    <div th:replace="fragments/banner/banner-shared :: banner-shared"></div>
    <!-- signin Modal -->
    <div id="signinContent">
        <div class="agilemodal-dialog modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="#{login}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body  pt-3 pb-5 px-sm-5">
                    <div class="row">
<!--                        <div th:if="${registersuccess!= null}"-->
<!--                             class="alert alert-success alert-dismissible alert-autocloseable-success" role="alert">-->
<!--                            <strong th:text="${registersuccess}"></strong>-->
<!--                        </div>-->
<!--                        <div th:if="${error!=null}">-->
<!--                            <strong><span th:text="${error}"></span></strong>-->
<!--                        </div>-->
                        <div class="col-md-6 align-self-center">
                            <img th:src="@{/resources/images/p3.png}" class="img-fluid" alt="login_image" />
                        </div>
                        <div class="col-md-6">
                            <form th:action="@{/welcome}" id="formLogin" method="post">
<!--                                <div th:if="${param.error}" class="alert alert-danger">-->
<!--                                    Wrong username or password-->
<!--                                </div>-->
<!--                                <div th:if="${param.logout}">-->
<!--                                    You have been logged out.-->
<!--                                </div>-->
<!--                                <div th:if="${param.accessDenied != null}" class="alert alert-danger">-->
<!--                                    You are not authorized-->
<!--                                </div>-->
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label" th:text="#{username}"></label>
                                    <input type="text" class="form-control" placeholder="Your username "
                                           name="username" id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" th:text="#{password}"></label>
                                    <input type="password" class="form-control" placeholder="Your password "
                                           name="password">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" th:text="#{remember}"></label>
                                    <input type="checkbox" name="remember-me" />
                                </div>
                                <div class="form-group right-w3l">
                                    <input type="submit" class="form-control" value="Login">
                                </div>
<!--                                <div class="form-group text-center">-->
<!--                                    <div class="fb-login-button" onlogin="onLoginButton();" data-width="" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>-->
<!--                                </div>-->
                                <div class="d-flex links">
                                    <span th:text="#{nothave}"></span>
                                    <a th:href="@{/register}" class="ml-2" th:text="#{signup}">p</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- signin Modal -->
</section>
</body>

</html>