<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/layout.html}" lang="en">

<head>
    <title>Error</title>
</head>

<body>
<section layout:fragment="content">
    <div th:replace="fragments/banner/banner-shared :: banner-shared"></div>
    <div>
        <div class="container-fluid">
            <!-- 404 Error Text -->
            <div class="text-center">
                <div class="h1 font-weight-bold text-center" th:text="${code}"></div>
                <p class="text-secondary  h3 mb-5" th:text="${message}"></p>
                <a th:href="@{/welcome}">← Back to home</a>
            </div>
        </div>
    </div>
</section>
</body>

</html>