<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/layout.html}">

<head>
    <title>Home</title>
</head>

<body>
<section layout:fragment="content">
    <!--Banner home-->
    <div th:replace="fragments/banner/banner-home :: banner-home"></div>

    <!--services-->
    <div class="agileits-services" id="services">
        <div class="no-gutters agileits-services-row row">
            <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                <span class="fas fa-sync-alt p-4"></span>
                <h4 class="mt-2 mb-3" th:text="#{replace}"></h4>
            </div>
            <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                <span class="fas fa-gift p-4"></span>
                <h4 class="mt-2 mb-3" th:text="#{giftcard}"></h4>
            </div>

            <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                <span class="fas fa-lock p-4"></span>
                <h4 class="mt-2 mb-3" th:text="#{securepay}"></h4>
            </div>
            <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                <span class="fas fa-shipping-fast p-4"></span>
                <h4 class="mt-2 mb-3" th:text="#{freeship}"></h4>
            </div>
        </div>
    </div>
    <!-- //services-->
    <!-- Begin Page Content -->

    <div id="contentIndex">
        <div class="row no-gutters pb-5">
            <div class="col-sm-6">
                <div class="hovereffect">
                    <img class="img-fluid" th:src="@{/resources/images/a1.jpg}" alt="" style="width:100%">
                    <div class="overlay">
                        <h5 th:text="#{women}"></h5>
                        <a class="info" th:href="@{/categories/2/products}" th:text="#{shopnow}"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="hovereffect">
                    <img class="img-fluid" th:src="@{/resources/images/a2.jpg}" alt="" style="width:100%">
                    <div class="overlay">
                        <h5 th:text="#{men}"></h5>
                        <a class="info" th:href="@{/categories/1/products}" th:text="#{shopnow}"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--  Page Content -->
</section>
</body>

</html>